.button {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.57px;
  color: white;

  padding: 17px 62px 18px;

  background-color: @button-color;
  border-radius: 30px;
  border: none;

  &:hover,
  &:focus {
    color: @button-color;

    background-color: white;

    box-shadow: inset 0 0 0 2px @button-color;
  }

  &:active {
    color: fade(#333333, 50%);

    box-shadow: inset 0 0 0 2px fade(#333333, 50%);

    transform: scale(0.9);
  }
}

@media (min-width: @tablet-width) {
  .button.button--order-print {
    padding: 17px 42px 18px;
  }
}