.form-consultation__intro {
  display: flex;
  flex-direction: column;
}

@media (min-width: @desktop-width) {
  .form-consultation__inner-wrapper {
    display: flex;
  }
}

@media (min-width: @tablet-width) {
  .faq__form .form-consultation__inner-wrapper {
    display: flex;
  }
}
