@media (max-width: @tablet-width - 1px) {
  .header-anchor {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .header-anchor {
    display: inline-block;
    vertical-align: middle;
    align-self: center;
  }
}