.request-call {
  display: flex;
  flex-direction: column;
}

.request-call__button-request {
  width: 140px;
  height: 25px;
}

@media (min-width: @desktop-width) {
  .request-call {
    display: flex;
    flex-direction: row;
  }
}